*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Lucida Sans';
}
body{
    background-color: #1b2051;
}
.root{
    background-color: #1b2051;
    width: 100%;
}
.menu{
    display: none;
}
nav a{
    padding: 3px 10px;
    font-size: small;
    font-weight: bolder;
    border-radius: 7px;
}
a.active{
    background: #002751;
}
#s-input{
    font-size: x-small;
    padding: 5px 2px;
    border: none;
    border-radius: 10px;
    background-color: #22a6b3;;
}
.gone{
    display: none;
}
.dark{
    background: rgba(0, 0, 0, 0.845) !important;
}
.side{
    height: 70vh;
}
.side .pics{
    height: 100%;
    padding: 2px 0px;
    display: grid;
    gap: 1px;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
}
.side .pics img{
    height: 100%;
    width: 100%;
}
.top-header{
    transition: ease 0.7s;
    top: 0;
    position:relative;
    display: flex;
    z-index: 10;
    background-color: black;
    justify-content: space-between;
    padding-top: 10px;
    filter: blur(0.1);

    height: 50px;
  
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
.logo{
    font-size: 1.3rem;
    margin-left: 30px;
}
nav ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
    width: fit-content;
}
nav a{
    display: flex;
    align-items: center;
    width: fit-content;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}
nav li{
    width: fit-content;
}
.search{
   margin-right: 1%;
   width: fit-content;
   height: fit-content;
   position: relative;
}
.banner{
    border: #000000 1px solid;
    position: relative;
    height: 70vh;
    z-index: 1;
}
.b-txt{
    position: absolute;
    margin-left: 10%;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 20 !important;
    flex-direction: column;
    justify-content:flex-end;
    align-items: left;
    padding-bottom: 20px;
}
.banner-title{
    text-shadow: #000000 2px 2px 4px;
    font-family: Bookman Old Style;
    font-size: 2.5rem;
    color: white;
}
.banner-descrpt{
    font-size:1rem;
    overflow: auto;
    height:70%;
}
.banner-trailer{
    margin-top: 10px;
    height: fit-content;
    width: fit-content;
    border-radius: 10px;
    justify-self: center;
    padding:10px 15px;
    background-color: rgb(4, 4, 97);
}
.m-section{
    margin-top: 10px;
   width: 100%;
   overflow: hidden;
   
}
.m-section h2{
    font-size: large;
}
.img{
    height: 200px;
    width: 170px;
    border-radius:10px 10px 0 0;
}
.img img{
    border-radius:10px 10px 0 0;
    width: 100%;
    height: 100%;
}
.m-list{
    margin-top: 10px;
    gap: 10px;
    display: flex;
    -ms-overflow-style: none;
    margin-left: 5%;
    scrollbar-width: none;
    height: 250px;
    overflow-x: auto;
}
.m-list::-webkit-scrollbar{
    display: none;
}
.m-item{
    background-color: white;
    border-radius: 10px;
}
.m-item p{
    text-align: center;
    color: #000000;
}
#s-icon{
    background-color: #22a6b3;
    padding: 10px;
    border-radius: 50%;
}
.link{
    color: #b80b0b;
    font-size: 0.8rem;
    text-decoration: none;
}
.search{
    width: fit-content;
    height: fit-content;
    line-height: 40px;
    position: relative;
  }
  .input-search{
    height: 35px;
    width: 200px;
    border-style: none;
    padding: 10px;
    font-size: 11px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 5px;
    transition: all .5s ease-in-out;
    background-color: #ffffffb0;
    padding-right: 10px;
    color:black;
    transition: all 1s ease;
  }
  .label{
    display: none;
    line-height: 50px;
    height: 50px;
    width: 50px;
  }
  /*.label:hover ~ .input-search{
    display: block;
  }
  .label:hover{
    transition: all 500ms ease;
    display: none;
  }*/
  @media (max-width: 750px){
    .side{
        height: 50vh;
        overflow: hidden;
    }
    .input-search{
        display: none;
    }
    .label{
        display: block;
    }
    .search{
        display: flex;
        margin-right: 0;
    }
    .search .label{
        margin-right: 10px;
    }
    .logo img{
        display: none;
    }
    .top-header{
        background-color: #000000;
        height: 40px;
    }
    nav{
        width: 80%;
        left: -80%;
        top: 50px;
        position: absolute;
    }
    nav ul{
        text-align: center;
        width: 100%;
        flex-direction: column;
        background: rgba(14, 9, 30, 0.845)
    }
    .banner{
        height: 50vh;
    }
    nav li{
        padding: 5px
    }
    nav a{
        border-radius: 0;
    }
    .menu{
        display: block;
    }
    .banner{
        background-position: top center;
    }
    .shadow-left{
        position: absolute;
        display: flex;
        background:rgba(0, 0, 0, 0.563);
        width: 100%;
        flex-direction: row;
        justify-content: unset;
        bottom: 0;
        height: 50%;
        overflow: hidden;
    }
    .b-txt{
        margin: 0 10px;
        overflow: hidden;
        height: 100%;
        width:100%;
    }
    .banner-title{
        font-size: 1.5rem;
    }
    .banner-descrpt{
        font-size: 1rem;
        margin-left: 10px;
        height: 40%;
        scroll-behavior: smooth;
        overflow: auto;
    }
    .banner-trailer{
        margin-top: 10px;
    }
  }
